{% extends 'main/main.html' %}



{% block title %}Login{% endblock title %}


{% block content %}
    <h1>Login</h1>

    <form action="" method="post">
        {% csrf_token %}

        <h6>Username</h6>
        <input type="text" name="username" id="useranem"><br><br>
        <h6>Password</h6>
        <input type="password" name="password" id="password"><br><br>
        <p>I have not account click <a href="{% url 'register' %}">here</a>.</p>
        <input type="submit" value="Submit">
    </form>
{% endblock content %}
