<footer class="py-4 bg-dark text-white mt-auto">
  <!-- Social Icons Section -->
<section class="social-icons">
  <a href="https://roino.ir" target="_blank" style="color: gray;"><i class="fa fa-globe"></i></a>
  <a href="mailto:info@roino.ir" target="_blank" style="color: tomato;"><i class="fa fa-envelope" ria-hidden="true"></i></a>
  <a href="https://telegram.me/RoinoTeam" target="_blank"><i class="fab fa-telegram"></i></a>
</section>
  <div class="container text-center">
      <p class="font-vazir">&copy; Designed with ❤️ by the
        <a class="roino-footer" target="_blank" href="https://roino.ir/">RoinoTeam</a>
      </p>
  </div>
</footer>
